.career-first-section {
    height: 325px;
}

.career-first-section .breadcrumb-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.career-first-section .breadcrumb-link:hover {
  text-decoration: underline;
}

.career-first-section .career-content {
    width: 50%;
    position: relative;
}

.career-first-section .career-content .career-gif {
    z-index: 1;
    position: absolute;
    right: 0rem;
    bottom: 2.5rem;
    width: 30%;
    height: 30%;
    background: url("/public/assets/contact-page.gif") no-repeat center center/cover;
}

.career-first-section .career-content .career-first-content {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.career-first-section .career-content .career-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 84px;
    letter-spacing: 0.5%;
    color: #FFFBFB;
    z-index: 1;
    position: relative;
}

.career-first-section .career-image {
    width: 45%;
    overflow: hidden;
}

.career-first-section .career-image img {
    height: 278px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.career-second-section .career-title-section {
    padding: 2rem 0;
}

.career-second-section .career-role-section {
    background-color: #F5F8FB;
}

.career-title-section .career-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28.13px;
    letter-spacing: 0.5%;
    color: #347CCC;
}

.career-second-section .career-title-section .career-subtitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.5%;
    color: #333333
}

.career-item-container {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
}

.color-0 {
    background-color: #FAEFF0;
}

.color-1 {
    background-color: #F4F7ED;
}

.color-2 {
    background-color: #FAEFF0;
}

.color-3 {
    background-color: #FFEEC2;
}

.color-4 {
    background-color: #E2E4FF;
}

.color-5 {
    background-color: #C5EDFF;
}

.career-item-container .item-image {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.career-main-container .item-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    line-height: 100%;
    letter-spacing: 0.5%;
}

.career-second-section .job-filters {
    margin-bottom: 16px;
}

.career-second-section .job-search,
.career-second-section .job-dropdown {
    background-color: white;
}

.career-second-section .job-container .no-job-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.career-second-section .job-container .no-job-card .no-job-header {
   color: #333333;
   font-size: 25px;
   line-height: 100%;
   letter-spacing: 0.5%;
   font-weight: 600;
}

.career-second-section .job-container .no-job-card .no-job-text {
   color: #333333;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.5%;
   font-weight: 400;
}

.career-second-section .job-container .no-job-card .no-job-button {
    min-width: 220px;
    min-height: 52px;
    border-radius: 10px;
    padding: 8px 17px 7px;
    background-color: #FFFFFF;
    color: #4B7AB7;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.5%;
    box-shadow: 3px 4px 4px 0px #B2B2B240;
}

.career-second-section .job-container .no-job-card .no-job-button:hover {
    background-color: #4B7AB7;
    color: #FFFFFF;
}

.career-second-section .job-container .job-card {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    border: 1px solid #E4E4E4;
    background-color: #FFFFFF;
}

.career-second-section .job-detail {
    font-size: 14px;
    margin-top: 4px;
    color: #333333;
}

.career-second-section .job-card .job-title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.5%;
    color: #333333;
}

.career-second-section .apply-button {
    font-family: Roboto;
    background-color: #437CCC;
    color: white;
    min-width: 92px;
    min-height: 35px;
    border-radius: 10px;
    padding: 6px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.career .main-footer-common {
  background-color: white;
}

.career .main-footer .footer-btn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 768px) {
    .career-first-section .career-content .career-title {
        padding: 1rem 0px 0px 0rem;
        font-size: 45px;
        line-height: unset;
    }

    .career-first-section {
        height: 230px;
    }

    .career-first-section .career-content .career-first-content {
        padding: 1.5rem 0px 0px 1rem;
    }

    .career-first-section .career-content {
        width: 100%;
    }

    .career-first-section .career-content .career-gif {
        display: none;
    }

    .career-first-section .career-content .career-wave {
        display: none;
    }

    .career-first-section .career-image {
        display: none;
    }

    .career-content {
        width: 100%;
        border-radius: 0;
    }

    .career-image {
        width: 100%;
    }
}