:root {
    --text-dark: #333333;
    --text-blue: #347CCC;
    --text-white: #FFFFFF;
}

.hire-detail-section .breadcrumb-link {
  text-decoration: none;
  color: var(--text-white);
  font-weight: 500;
}

.hire-detail-section .breadcrumb-link:hover {
  text-decoration: underline;
}

.hire-middle-section .card-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.5%;
  color: var(--text-dark);
}

.hire-middle-section .card-data {
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 1.5%;
   color: var(--text-dark);
}

.hire-middle-section .step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1F5795;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 4px solid var(--text-white);;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hire-middle-section .step-circle:hover {
  background-color: #1F5795;
  cursor: pointer;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hire-middle-section .curved-line {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 120px;
  background: url('../../public/assets/curve-img.png') center/contain no-repeat;
  z-index: 0;
  pointer-events: none;
}


.timeline-container {
  position: relative;
  padding: 80px 20px;
  background-color: #F5F8FB;
  overflow: hidden;
}

.timeline-path {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 0;
}

.steps {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin: 0 auto;
}

/* .step-text {
  width: 100%;
  padding-left: 115px;
  box-sizing: border-box;
  text-align: left;
} */

.step-circle-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}


.steps .step:first-child {
  margin-top: -5px;
}

.step-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #1F5795;
  color: var(--text-white);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}

.white-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: var(--text-white);
  border-radius: 50%;
  z-index: 1;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.step-number:hover + .white-circle {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.step-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.5%;
  color: var(--text-dark);
  text-align: left;
}

.step-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.5%;
  color: var(--text-dark);
  text-align: left;
}

.hire-contact-section .contact-card {
    max-width: 410px;
    width: 100%;
    z-index: 1;
    border-radius: 20px;
    background-color: var(--text-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    padding: 2rem 2rem;
}

.hire-contact-section .contact-card .contact-card-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 2rem;
    color: #000000;
}

.hire-contact-section .contact-card .form-input1 {
    max-width: 205px;
    width: 100%;
    position: relative;
}

.hire-contact-section .contact-card .form-input2 {
    max-width: 410px;
    width: 100%;
    position: relative;
}

.hire-contact-section .contact-card .form-input1 .MuiOutlinedInput-input::placeholder,
.hire-contact-section .contact-card .form-input2 .MuiOutlinedInput-input::placeholder {
    color: var(--Schemes-On-Surface-Variant, #49454F);
    opacity: 1;
    font-size: 12px;
}

.hire-contact-section .contact-card .form-input1 .MuiOutlinedInput-root,
.hire-contact-section .contact-card .form-input2 .MuiOutlinedInput-root {
    border-radius: 4px;
    font-size: var(--BodyLargeSize);
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #49454F;
    outline: none;
}

.hire-contact-section .contact-card .form-input1 .MuiOutlinedInput-root.Mui-focused,
.hire-contact-section .contact-card .form-input2 .MuiOutlinedInput-root.Mui-focused {
    border-color: #49454F !important;
}

.hire-contact-section .contact-card .form-input1 .MuiOutlinedInput-input,
.hire-contact-section .contact-card .form-input2 .MuiOutlinedInput-input {
    padding: 10px 14px;
}

.hire-contact-section .contact-card .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.hire-contact-section .contact-card .form-input1,
.hire-contact-section .contact-card .form-input2 {
    margin-bottom: 2rem;
}

.submit-btn {
    max-width: 410px;
    padding: 9px 0px;
    width: 100%;
    border-radius: 4px;
    background-color: #4B7AB7;
    color: var(--text-white);
    font-weight: 700;
    font-size: 18px;
    border: none;
}

.submit-btn:hover {
    cursor: pointer;
}

.services-section {
  position: relative;
  margin: auto;
  padding: 2rem 0;
  scroll-behavior: smooth;
  background-color: #F5F8FB;
}

.choose-us-heading {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}

.services-section .services-right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  overflow-y: auto;
  padding-right: 0.5rem;
  scrollbar-width: none;
}

.services-section .services-right-column::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.services-section .services-right-column::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.services-section .service-card {
  width: 90%;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: var(--text-white);;
  border: 1px solid #DBDBDB;
  transition: box-shadow 0.3s ease;
  flex-shrink: 0;
}

.service-card .service-header {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.service-card .service-decription {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-dark);
}


.hire-detail-section .choose-us-heading {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-blue);
  letter-spacing: 1.5%;
  line-height: 24px;
}

.choose-us-section .feature-card {
  position: relative;
  border: 2px solid var(--text-blue);
  padding: 24px;
  border-radius: 20px;
  background-color: #f9fbff;
  min-height: 240px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.choose-us-section .feature-card:hover {
  background-color: #DDEDFF;
  cursor: pointer;
}

.choose-us-section .feature-card .corner-badge {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 63px;
  height: 63px;
  font-size: 26px;
  background: #B3D2F3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--text-dark);
  box-shadow: 0 0 0 3px var(--text-white);;
}

.choose-us-section .feature-card:hover .corner-badge {
  background: #F3F9FF;
}

.choose-us-section .feature-card .feature-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.5%;
}

.choose-us-section .feature-card .feature-description {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.5%;
  font-weight: 500;
}

.hire-detail-section .hire-detail-first-section {
  display: flex;
  flex-direction: column;
  color: var(--text-white);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hire-detail-section .hire-detail-content {
  padding: 1.5rem 0;
  justify-content: center;
  flex: 1 1 100%;
}

.hire-detail-section .hire-detail-first-content {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.hire-detail-section .chevron-icon {
  font-size: 20px;
}

.hire-detail-section .hire-detail-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Roboto";
}

.hire-detail-section .hire-detail-image {
  justify-content: flex-start;
  padding-left: 0;
}

.hire-detail-section .combined-image {
  display: flex;
  align-items: center;
  gap: 16px;
}

.image-wrapper {
  position: relative;
  /* width: 491px; 
  height: 451px; */
}

.image-wrapper .main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.image-wrapper .tech-icon {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 100px;
  height: auto;
  z-index: 2;
}

.hire-detail-section .hire-detail-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


@media (max-width: 767px) {

  .timeline-path {
    display: none;
  }

  .hire-contact-section .contact-card {
    max-width: 100%;
    height: auto;
    padding: 1rem;
  }

  .hire-contact-section .contact-card .grid-container {
    grid-template-columns: 1fr;
  }

  .hire-contact-section .contact-card .form-input1,
  .hire-contact-section .contact-card .form-input2 {
    max-width: 100%;
    margin-bottom: 1.2rem;
  }

  .hire-contact-section .contact-card .contact-card-title {
    font-size: 18px;
    margin-bottom: 1.5rem;
  }

  .hire-detail-section .hire-detail-content {
    padding: 30px 40px; 
  }

  .services-section .services-grid {  
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .services-section .service-card {
    width: 83%;
  }

  .timeline-container {
      padding: 0px;
    }

}

@media (min-width: 768px) {
  .steps {
    flex-direction: row;
    justify-content: space-between;
  }

  .step {
    margin: 0;
  }

  .hire-detail-section .hire-detail-first-section {
    flex-direction: row;
    text-align: left;
    align-items: flex-end;
    justify-content: space-between;
  }

  .hire-detail-section .hire-detail-image {
    flex: 1 1 50%;
    padding-left: 20px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
}