:root {
    --text-dark: #333333;
    --text-blue: #347CCC;
    --text-white: #FFFFFF;
}

.privacy-policy .privacy-policy-container {
    color: var(--text-dark);
    line-height: 100%;
    letter-spacing: 0.5%;
    text-align: justify;
}

.privacy-policy .privacy-policy-container .last-updated-date {
   font-weight: 600;
   font-size: 16px;
   color: var(--text-dark);
}

.privacy-policy .privacy-policy-container .header-description {
   font-weight: 400;
   font-size: 15px;
}

.privacy-policy .privacy-policy-container .privacy-first-section-header {
   font-weight: 600;
   font-size: 26px;
   /* line-height: 22px; */
   text-align: left;
   color: var(--text-blue);
}

.privacy-policy .privacy-policy-container .privacy-first-section-sub-header {
   font-weight: 600;
   font-size: 20px;
   line-height: 22px;
}