:root {
    --text-dark: #333333;
}

.site-map-main .sitemap-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.5%;
  margin-bottom: 8px;
  color: var(--text-dark);
}

.site-map-main .sitemap-main-description {
  gap: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.5%;
  color: var(--text-dark);
}

.site-map-main .sitemap-list-text {
  gap: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.5%;
 color: var(--text-dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;   
}

.site-map-main .sitemap-list-text .sitemap-dot {
  color: var(--text-dark);
  font-size: 18px;
}